/* Apply styles to the form container */
#survey-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Center title and desc */
h1, p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 1.2;
  text-align: center; /* Center the text */
  margin: 0;
}

/* Style labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style form inputs and textareas */
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}
/* Lineup the radio buttons on the same line */
.inline {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin to your preference */
  vertical-align: middle;
}

/* Style submit button */
#submit {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add hover effect for submit button */
#submit:hover {
  background-color: #0056b3;
}

/* Apply styles to the description paragraph */
#description {
  font-style: italic;
  color: #666;
  margin-bottom: 20px;
}