/* Style the image container */
#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
    
/* Style the image */
#image {
  text-align: center;
  max-width: 100%;
  height: auto;
  border: 3px solid #ffcc00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: block; /* Add display property */
  margin: 0 auto; /* Center the image */
}
    
/* Add some color and styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1b1b32;
    color: #fff;
}
    
#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
    
h1 {
    text-align: center;
}
    
#tribute-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffcc00;
}
    
ul {
    list-style-type: square;
    padding-left: 20px;
}
    
/* Style the navigation bar */
nav {
    text-align: center;
    background-color: #333;
}
    
nav ul {
    list-style: none;
    padding: 0;
}
    
nav li {
    display: inline;
    margin: 0 10px;
}
    
nav a {
    text-decoration: none;
    color: #ffcc00;
}
    
nav a:hover {
    color: #fff;
}
    
/* Add hover effect for the tribute link */
#tribute-link:hover {
    background-color: #ffcc00;
    color: #333;
}
    
/* Media query for responsiveness */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav li {
        flex: 0 0 auto;
        margin: 5px;
    }
}
